@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 30%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 30%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 30%;

    --primary: 197 100% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 197 73% 89%;
    --secondary-foreground: 197 100% 41%;

    --muted: 0 0% 91%;
    --muted-foreground: 0 0% 30%;

    --accent: 197 71% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 356 83% 44%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 197 100% 41%;

    --radius: 0.5rem;

    --success: 197 100% 41%;
    --warning: 51 100% 50%;
    --info: 197 72% 65%;

    --sidebar-background: 197 73% 89%;
    --sidebar-foreground: 0 0% 30%;
    --sidebar-primary: 197 100% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 197 66% 77%;
    --sidebar-accent-foreground: 0 0% 30%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 197 100% 41%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 30%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 30%;
    --popover-foreground: 0 0% 100%;

    --primary: 197 71% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 197 100% 41%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 91%;

    --accent: 197 72% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 356 83% 44%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 197 71% 55%;

    --success: 197 71% 55%;
    --warning: 51 100% 50%;
    --info: 197 72% 65%;
    
    --sidebar-background: 0 0% 30%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 197 71% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 197 100% 41%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 30%;
    --sidebar-ring: 197 71% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
